@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h3 class="display-4">Bienvenido al sistema de mantenimiento de productos médicos</h3>
    <a class="btn btn-primary btn-lg mt-3" asp-area="" asp-controller="Productos">Ir a productos</a>
</div>

